nav a {
  text-decoration: none;
  font-size: 26px;
  margin-right: 20px;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}

nav a:hover {
  color: white;
  background-color: orangered;
}
